
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;

}

.inicio{
    text-decoration: none;
}
.menu a{
    justify-content: flex-end;
    text-decoration: none;
    padding: 10px;

}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
/* --- Contenedor principal --- */
.contenedor {
  display: flex;
  flex-direction: column;   /* título arriba, controles abajo */
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* --- Título centrado --- */
.titulo {
  display: flex;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  gap: 5px;
}

/* --- Controles en línea y centrados --- */
.containerPassword {
  display: flex;
  flex-direction: column; /* <--- Esto pone el label arriba */
  align-items: center;
  border-radius: 30px;
  width: 300px;
  height: 150px;
  gap: 15px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.098);   /* separa los elementos */
}

/* Input */
#length {
  width: 60px;
  height: 25px;
}

/* Botón */
#getPassword {
  height: 35px;
  padding: 0 10px;
}

/* Resultado */
.resultPassword {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.titulo img{
  width: 30px;
  height: 30px;
}
