/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MIS CSS*/

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Layout principal con Grid */

.principal {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   gap:2rem;
   padding: 0 2rem 2rem 2rem;
   max-width: 1400px;
   margin: 0 auto;

}

  

/* Posicionamiento de secciones */

.weatherContainer {
  grid-column: 1;
  grid-row: 1 / 3;
}

  

.main {
  grid-column: 2;
  grid-row: 1;
}

  

.mainP {
  grid-column: 2;
  grid-row: 2;
}

  

.mainL {
  grid-column: 3;
  grid-row: 1 / 3;
}

/*CSS CLIMA*/
.weatherContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.infoContainer{
  border-radius: 10px;
  width: 400px;
  height: 250px;
  padding: 15px;
  background-color:rgba(154, 136, 136, 0.119)
}

.weatherActual{
  
}

#ciudad{
  font-size: 23px;

}

#descripcion{
  font-size: 20px;
}

.datosContainer{
  display: flex;
  height: 90px;
  /*background-color: darkgrey;*/
}

.gradosActuales{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 200px;
 /* background-color: bisque;*/
}

#temperatura{
  font-size: 50px;
}

.estadoIcono{
  width: 60px;
  height: 60px;
}

.grados{
  display: flex;
  justify-content: center;
}
.grados img{
  width: 60px;
  height: 60px;
}

.masDatos{
  padding-top: 10px;
  padding-left: 20px;
}

.pronosticoWeather {
    display: flex;
    align-items: center;
    overflow-x: auto;           /* Permite scroll horizontal */
    overflow-y: hidden;         /* Oculta scroll vertical */
    gap: 1rem;                  /* Espacio entre elementos */
    padding: 1rem 0;
    list-style: none;
}

.previsionGrados {
    flex-shrink: 0;             /* Evita que se compriman */
    min-width: 80px;            /* Ancho mínimo de cada item */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.previsionGrados p{
  padding-left: 40%;
}


/*CSS LINKS*/

.mainL{
  display: flex;
  justify-content: center;
  align-items: center;

}
.list{
  width: 300px;
  height: 500px;
}

.list .input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.links-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 300px;
    padding: 20px;
    overflow: scroll;
}

.title {
  display: flex;
  font-size: 20px;
  justify-content:left;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  gap: 5px;
}

.title img{
  width: 30px;
  height: 30px;
}

.input-container input,
.input-container button {
  width: 100%;
  height: 40px;
  box-sizing: border-box; /* opcional pero recomendado */
  margin-bottom: 5px;    /* separación para que no queden pegados */
  border-radius: 10px;

}

.input-container button{
  margin-top: 20px;
  cursor: pointer;
}

/*CSS PASSWORDS*/

.contenedor {
  display: flex;
  flex-direction: column;   /* título arriba, controles abajo */
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* --- Título centrado --- */
.titulo {
  display: flex;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  gap: 5px;
}

/* --- Controles en línea y centrados --- */
.containerPassword {
  display: flex;
  flex-direction: column; /* <--- Esto pone el label arriba */
  align-items: center;
  border-radius: 30px;
  width: 300px;
  height: 150px;
  gap: 15px;
  padding: 30px;
  background-color:rgba(154, 136, 136, 0.119)
}

/* Input */
#length {
  width: 60px;
  height: 25px;
}

/* Botón */
#getPassword {
  height: 35px;
  padding: 0 10px;
}

/* Resultado */
.resultPassword {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}


.titulo img{
  width: 30px;
  height: 30px;
}

/*CSS RELOJ*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  margin: auto;
  background-color:rgba(154, 136, 136, 0.119)
}

/* Contenido interno */
.reloj-digital {
  text-align: center;
  padding: 30px;
  
}

h1{
  font-size: 20px;
}

.hora{
  font-size: 50px;
}

.fecha{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.mensaje{
  font-size: 20px;
}

